<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row w-75">
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center " >
        <h1>Employee Managment Application</h1>
        <p class="my-3">Employee Managment Application built with Angular and use Dummy JSON API as a mock backend to simulate API responses</p>
        <a routerLink="/addemployee" class="btn btn-success mt-3">Get Started</a>
      </div>
      <div class="col-lg-6"style="text-align: justify;">
        <img class="img-fluid" src="https://i.pinimg.com/originals/e7/78/2b/e7782b954b20ab768c74fc1dfd6f9377.gif" alt="">
      </div>
    </div>
  </div>